apiVersion: v1
kind: ConfigMap
metadata:
  name: mosquitto-config
  namespace: mqtt
data:
  mosquitto.conf: |
    persistence true
    persistence_location /mosquitto/data/
    log_dest stdout
    listener 1883 0.0.0.0
    allow_anonymous true
    # To enable TLS, uncomment below and mount certs at /mosquitto/certs
    # listener 8883 0.0.0.0
    # cafile /mosquitto/certs/chain.crt
    # certfile /mosquitto/certs/cert.crt
    # keyfile /mosquitto/certs/key.pem
