apiVersion: v1
kind: Service
metadata:
  name: mosquitto-lb
  namespace: mqtt
spec:
  selector:
    app: mosquitto
  ports:
  - name: mqtt
    port: 1883
    targetPort: 1883
    protocol: TCP
  externalTrafficPolicy: Local
  loadBalancerSourceRanges:
  - 172.16.0.0/22
  type: LoadBalancer
