apiVersion: v1
kind: PersistentVolume
metadata:
  name: plex-config-pv
  labels:
    app: plex
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ""
  hostPath:
    path: /srv/plex/config
    type: DirectoryOrCreate
