# DoH Ingress using Traefik IngressRoute CRDs

---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: doh-kids
  namespace: dns-system
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`kids.xs4some.nl`) && PathPrefix(`/dns-query`)
      kind: Rule
      services:
        - name: doh-server-kids
          port: 443
          scheme: http
  tls:
    certResolver: letsencrypt
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: doh-standard
  namespace: dns-system
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`dns.xs4some.nl`) && PathPrefix(`/dns-query`)
      kind: Rule
      services:
        - name: doh-server-standard
          port: 443
          scheme: http
  tls:
    certResolver: letsencrypt
