apiVersion: v1
kind: ConfigMap
metadata:
  name: unbound-config
  namespace: dns-system
data:
  unbound.conf: |
    server:
        # Run as root (required in K3s)
        username: ""
        
        # Network settings
        interface: 0.0.0.0
        port: 53
        do-ip4: yes
        do-ip6: yes
        do-udp: yes
        do-tcp: yes
        
        # Access control
        access-control: 0.0.0.0/0 allow
        access-control: ::0/0 allow
        
        # Performance tuning
        num-threads: 2
        msg-cache-slabs: 4
        rrset-cache-slabs: 4
        infra-cache-slabs: 4
        key-cache-slabs: 4
        outgoing-range: 8192
        num-queries-per-thread: 4096
        
        # Cache settings
        cache-min-ttl: 3600
        cache-max-ttl: 86400
        
        # Privacy settings
        hide-identity: yes
        hide-version: yes
        
        # Security
        harden-glue: yes
        harden-dnssec-stripped: yes
        use-caps-for-id: yes
        harden-algo-downgrade: yes
        
        # TLS settings for upstream DNS-over-TLS
        tls-cert-bundle: /etc/ssl/certs/ca-certificates.crt
        
        # Logging (reduce for production)
        verbosity: 1
        log-queries: no
        use-syslog: no
        logfile: ""
        
        # Prefetch popular domains
        prefetch: yes
        prefetch-key: yes
        
        # Extended statistics for monitoring
        extended-statistics: yes
        statistics-interval: 0
        statistics-cumulative: no
        
        # Private address ranges (don't return these from public DNS)
        private-address: 10.0.0.0/8
        private-address: 172.16.0.0/12
        private-address: 192.168.0.0/16
        private-address: 169.254.0.0/16
        private-address: fd00::/8
        private-address: fe80::/10

    remote-control:
        control-enable: yes
        control-interface: 127.0.0.1
        control-port: 8953
        control-use-cert: no

    # Forward to Quad9 (Swiss-based, privacy-focused)
    forward-zone:
        name: "."
        forward-tls-upstream: yes
        # Quad9 primary (with malware blocking)
        forward-addr: 9.9.9.9@853#dns.quad9.net
        forward-addr: 149.112.112.112@853#dns.quad9.net
        # Quad9 IPv6
        forward-addr: 2620:fe::fe@853#dns.quad9.net
        forward-addr: 2620:fe::9@853#dns.quad9.net
