apiVersion: v1
kind: ConfigMap
metadata:
  name: traefik-config
  namespace: traefik
data:
  traefik.yaml: |
    global:
      checkNewVersion: false
      sendAnonymousUsage: false
    
    api:
      dashboard: true
      insecure: false
    
    log:
      level: INFO
    
    entryPoints:
      web:
        address: ":80"
        http:
          redirections:
            entryPoint:
              to: websecure
              scheme: https
      websecure:
        address: ":443"
        http:
          tls:
            certResolver: letsencrypt
    
    providers:
      kubernetesCRD: {}
      kubernetesIngress: {}
    
    certificatesResolvers:
      letsencrypt:
        acme:
          email: readefries@xs4some.nl
          storage: /data/acme.json
          tlsChallenge: {}
          # For Let's Encrypt staging (testing):
          # caServer: https://acme-staging-v02.api.letsencrypt.org/directory
