apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: website-content
  namespace: default
spec:
  accessModes:
    - ReadOnlyMany
  resources:
    requests:
      storage: 100Mi
  storageClassName: local-path
