[Unit]
Description=Forward IPv6 DNS UDP to LoadBalancer
After=network.target k3s.service
Wants=k3s.service

[Service]
Type=simple
ExecStart=/usr/bin/socat UDP6-LISTEN:53,fork,reuseaddr,bind=[{{ dns_ipv6_bind }}],max-children=50 UDP4:{{ dns_ipv4_backend }}:53
Restart=always
RestartSec=5
# Prevent zombie process accumulation
KillMode=mixed
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
