apiVersion: apps/v1
kind: Deployment
metadata:
  name: gotify
  namespace: gotify
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: gotify
  template:
    metadata:
      labels:
        app: gotify
    spec:
      containers:
      - name: gotify
        image: gotify/server:latest
        env:
        - name: GOTIFY_DEFAULTUSER_NAME
          value: "admin"
        - name: GOTIFY_DEFAULTUSER_PASS
          value: "admin"
        - name: TZ
          value: "Europe/Amsterdam"
        ports:
        - containerPort: 80
          name: http
        volumeMounts:
        - name: data
          mountPath: /app/data
        resources:
          requests:
            cpu: 50m
            memory: 64Mi
          limits:
            cpu: 200m
            memory: 256Mi
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: gotify-data
---
apiVersion: v1
kind: Service
metadata:
  name: gotify
  namespace: gotify
spec:
  selector:
    app: gotify
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
